.container {
    position: relative;
    margin-top: 50px;
    width: 100%;
}

.landing img {
    width: 100%;
    height: 400px;
}

.landing {
    position: relative;
    align-self: center;
}

#landinghead {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}

#landingsub {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}

.landing div {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 35px;
    width: 300px;
    cursor: pointer;
    background-color: orange;
}

.landing span {
    position: absolute;
    text-align: center;
    font-size: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}
.switch {
    width: 180px;
    height: 30px;
    margin-left: 10px;
    border: 2px solid cyan;
    border-radius: 5px;
    align-items: flex-end;
}
.switch a {
    width: 90px;
    height: 30px;
    border: 1px solid black;
    cursor: pointer;
}
/* 
.switch {
    position: relative;
    width: 180px;
    height: 30px;
    border: solid cyan;
    border-radius: 5px;
    border-width: 2px;
    margin-left: 3%;
}

#bills{
    position: absolute;
    background-color: cyan;
    text-align: center;
    height: 30px;
    width: 90px;
    cursor: pointer;
}

.switch span {
    position: absolute;
    color: white;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    font-weight: bold;
}

#payments{
    position: absolute;
    color: cyan;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
}

#overview {
    border-collapse: collapse;
    margin-left: 3%;
}

.content {
    border-left: solid lightgrey;
    border-width: 2px;
    padding-left: 15px;
    margin-left: 3%;
}

#ovtr1 {
    color: grey;
    font-size: 8px;
}

#ovtr2 {
    font-size: 25px;
}

.space {
    width: 40px;
}

.list {
    position: absolute;
    width: 400px;
    height: 500px;
    text-align: center;
    margin-left: 2%;
}

#upcoming-bills {
    text-align: center;
    font-weight: 800;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

#due {
    width: 400px;
    text-align: left;
    font-weight: bold;
    color: orange;
    background-color: lightgrey;
    position: absolute;
    top: 30px;
    height: 30px;
    margin-left: 3%;
    font-size: 25px;
    
}

#leftborder {
    transform: translate(0, -95%);
    width: 5px;
    height: 30px;
    top: 0px;
    left: 0px;
    background-color: orange;
}

#list-entry {
    margin-left: 3%;
    border-collapse: collapse;
    width: 400px;
}

.list-entryrow1 {
    margin: 10px;
}

.list-entryrow2 {
    margin: 10px;
}

.td11 {
    color: grey;
}

.td21 {
    padding: 5px;
    text-align: left;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(51, 50, 50);
}

.td31 {
    text-align: right;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(51, 50, 50);
}

.td1 {
    border-top: solid grey;
    border-width: 1px;
    color: grey;

}

.td2 {
    padding: 5px;
    border-top: solid grey;
    border-width: 1px;
    text-align: left;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(51, 50, 50);
}

.td3 {
    border-top: solid grey;
    border-width: 1px;
    text-align: right;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(51, 50, 50);
} */